name: golangci-lint
on:
  push:
    branches:
      - develop
  pull_request:
permissions:
  contents: read

jobs:
  golangci:
    name: GO lang CI linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
